﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SignalR Test App</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
</head>
<body>
    <h1>Chat</h1>
    <label>Connected users:</label>
    <span id="txtConnectedUsers"></span><br /><br />

    <input type="text" placeholder="Enter message here" id="txtMessage" />
    <input type="button" value="Send" id="btnSendMessage" />
    <input type="button" value="Send to secret group" id="btnSendMessageToGroup" />
    <input type="hidden" id="txtDisplayName" />
    <input type="button" id="btnJoinGroup" value="Join secret group" />
    <input type="button" id="btnLeaveGroup" value="Leave secret group" />
    <ul id="lstDiscussion"></ul><br /><br />

    <script type="text/javascript">
        $(function () {
            $('#txtDisplayName').val(prompt('Enter your name:', ''));
            $('#txtMessage').focus();

            var connection = $.hubConnection();
            var hub = connection.createHubProxy('chat');
            connection.start();

            $('#btnSendMessage').on('click', function () {
                hub.invoke('send', $('#txtDisplayName').val(), $('#txtMessage').val());
                $('#txtMessage').val('').focus();
            });

            $('#btnSendMessageToGroup').on('click', function () {
                hub.invoke('sendToGroup', $('#txtDisplayName').val(), $('#txtMessage').val());
                $('#txtMessage').val('').focus();
            });

            $('#btnJoinGroup').on('click', function () {
                hub.invoke('joinGroup');
            });

            $('#btnLeaveGroup').on('click', function () {
                hub.invoke('leaveGroup');
            });

            hub.on('notify', function (name, message) {
                $('#lstDiscussion').append('<li><strong>' + name +
                    '</strong>:&nbsp;&nbsp;' + message + '</li');
            });

            hub.on('updateUserCount', function (n) {
                $('#txtConnectedUsers').text(n);
            });
        });
    </script>
</body>
</html>
