﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SignalR Test App</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
</head>
<body>
    <h1>Index</h1>
    <input type="text" placeholder="Enter message here" id="txtMessage" />
    <input type="button" value="Broadcast" id="btnBroadcast" />

    <script type="text/javascript">
        $(function () {
            var connection = $.hubConnection();
            var hub = connection.createHubProxy('myHub');
            connection.start().done(function () {
                console.log('Now connected, connection ID=' + connection.id);

                $('#btnBroadcast').on('click', function () {
                    hub.invoke('broadcast', $('#txtMessage').val());
                });
            })
            .fail(function () { console.log('Could not connect'); });

            hub.on('notify', function (message) {
                alert(message);
            });
        });
    </script>
</body>
</html>
