﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SignalR Test App</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
</head>
<body>
    <h1>User Update</h1>
    <pre id="updatedUser">Awaiting user update...</pre>

    <script type="text/javascript">
        $(function () {
            var connection = $.hubConnection();
            var hub = connection.createHubProxy('userHub');
            connection.start();

            hub.on('onUserUpdate', function (user) {
                $('#updatedUser').text(JSON.stringify(user) + ' - ' + new Date());
            });
        });
    </script>
</body>
</html>
